In [1]:
class MYLR:

    def __init__(self):
        self.m = None
        self.b = None

    def fit(self,X_train,y_train):

        num = 0
        den = 0

        for i in range(X_train.shape[0]):

            num = num + ((X_train[i] - X_train.mean())*(y_train[i] - y_train.mean()))
            den = den + ((X_train[i] - X_train.mean())*(X_train[i] - X_train.mean()))

        self.m = num/den
        self.b = y_train.mean() - (self.m * X_train.mean())
        print(self.m)
        print(self.b)

    def predict(self,X_test):

        # print(X_test)

        return self.m * X_test + self.b

In [2]:
import numpy as np
import pandas as pd

In [3]:
df= pd.read_csv("/content/study_hours_cgpa_200_rows.csv")

In [4]:
df.head()

   StudyHours  CGPA
0        4.81  6.01
1       11.43  8.56
2        8.92  7.70
3        7.38  6.90
4        2.29  5.77

In [5]:
X = df.iloc[:,0].values
y = df.iloc[:,1].values

In [6]:
X

array([ 4.81, 11.43,  8.92,  7.38,  2.29,  2.29,  1.17, 10.46,  7.41,
        8.64,  0.74, 11.65, 10.07,  2.94,  2.59,  2.61,  4.  ,  6.53,
        5.47,  3.85,  7.54,  2.1 ,  3.86,  4.71,  5.74,  9.53,  2.8 ,
        6.41,  7.31,  1.03,  7.49,  2.46,  1.25, 11.41, 11.6 ,  9.8 ,
        4.  ,  1.62,  8.37,  5.56,  1.9 ,  6.19,  0.9 , 10.96,  3.48,
        8.12,  4.08,  6.48,  6.79,  2.63, 11.65,  9.41, 11.3 , 10.79,
        7.38, 11.1 ,  1.52,  2.75,  1.02,  4.24,  4.97,  3.62, 10.03,
        4.6 ,  3.73,  6.74,  2.12,  9.73,  1.36, 11.85,  9.38,  2.79,
        0.56,  9.88,  8.63,  8.88,  9.37,  1.35,  4.62,  1.83, 10.43,
        7.67,  4.31,  1.23,  4.08,  4.24,  8.89,  7.83, 10.7 ,  5.93,
        1.88,  8.7 ,  9.25,  6.95,  9.37,  6.18,  6.51,  5.42,  0.79,
        1.74,  0.86,  7.82,  4.12,  6.35, 10.94,  3.37,  5.22,  9.19,
        3.13,  1.39,  3.83,  2.35, 11.19,  9.79,  7.78, 10.52,  9.74,
        2.65, 10.76,  6.7 ,  9.79, 10.81,  4.16,  1.77,  3.12,  5.41,
        9.91, 10.4 ,  0.58,  6.37,  5.3 ,  3.05,  1.88,  4.38, 11.34,
        4.22,  6.47,  8.58,  4.68, 11.68, 11.57,  3.4 ,  6.22,  3.96,
        3.78,  0.92,  7.51,  6.28,  1.09,  3.7 , 10.95,  3.25,  2.17,
        6.13, 11.83,  3.28,  8.23,  9.26,  3.23,  8.87,  4.73,  7.77,
        7.79,  6.66,  1.54, 10.11,  4.19,  2.64,  0.97,  7.3 ,  8.29,
        0.69,  6.39,  3.1 ,  7.92,  2.51,  8.45,  4.95, 11.27,  2.08,
        4.42,  1.8 , 11.13, 10.59,  3.47,  8.09,  9.9 ,  6.88,  6.59,
        3.28,  1.57, 10.82, 10.85,  7.78,  4.4 ,  4.52,  8.85, 10.82,
       10.7 ,  9.47])

In [7]:
y

array([6.01, 8.56, 7.7 , 6.9 , 5.77, 5.42, 4.61, 8.33, 6.85, 7.72, 5.05,
       8.37, 8.27, 5.63, 5.61, 5.89, 5.84, 6.6 , 6.19, 5.64, 7.12, 5.32,
       5.92, 6.36, 6.51, 8.2 , 5.41, 7.42, 7.21, 4.65, 6.85, 5.48, 4.88,
       8.67, 8.68, 7.91, 5.69, 4.69, 7.32, 6.66, 5.22, 6.36, 4.86, 8.43,
       5.5 , 7.38, 5.94, 6.48, 6.97, 5.56, 8.85, 8.06, 8.11, 8.04, 7.21,
       8.51, 5.16, 6.43, 5.  , 6.27, 6.48, 5.93, 7.93, 6.3 , 5.61, 6.8 ,
       5.12, 7.93, 5.55, 8.18, 7.95, 5.07, 4.58, 8.23, 7.54, 7.34, 7.6 ,
       5.14, 5.93, 5.19, 8.16, 7.02, 6.54, 5.09, 5.42, 6.03, 7.45, 7.45,
       8.05, 6.55, 5.28, 7.76, 7.44, 6.85, 7.66, 6.5 , 7.22, 6.5 , 4.46,
       5.34, 5.33, 7.5 , 5.56, 6.6 , 8.65, 5.5 , 6.44, 7.91, 5.36, 4.97,
       5.03, 5.07, 8.35, 7.61, 7.63, 7.82, 7.8 , 5.46, 8.63, 6.49, 8.22,
       8.29, 5.71, 5.24, 5.64, 6.24, 7.99, 8.04, 4.73, 6.9 , 6.75, 5.26,
       5.69, 5.54, 8.43, 6.12, 6.83, 7.35, 6.09, 8.46, 8.4 , 5.9 , 6.77,
       5.71, 6.05, 4.9 , 7.33, 6.86, 4.67, 5.65, 8.52, 5.79, 5.25, 6.67,
       8.96, 5.5 , 7.52, 7.69, 5.58, 7.88, 6.36, 7.42, 7.55, 6.84, 5.21,
       7.96, 6.05, 5.39, 4.86, 7.2 , 7.2 , 5.26, 6.48, 5.28, 7.56, 5.58,
       7.61, 6.39, 8.44, 5.  , 6.07, 4.96, 8.64, 8.17, 5.51, 7.25, 8.07,
       6.77, 6.6 , 5.71, 5.11, 8.16, 8.18, 7.28, 5.68, 5.73, 7.42, 8.23,
       8.32, 8.18])

In [8]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=2)

In [9]:
X_train.shape

(160,)

In [10]:
lr = MYLR()

In [11]:
lr.fit(X_train,y_train)

0.34714431878354823
4.537098240266264

In [12]:
X_train.shape[0]

160

In [13]:
X_train[0]

np.float64(8.58)

In [14]:
X_train.mean()

np.float64(5.9075625)

In [15]:
X_test[0]

np.float64(11.19)

In [16]:
print(lr.predict(X_test[0]))

8.42164316745417