In [ ]:
from google.colab import files
files.upload()

In [3]:
import pandas as pd

In [8]:
df=pd.read_json('covid.json')

In [9]:
df.head()

,#,age,Sleep_problems,Headache,Diarrhea,Abdominal_pain,body_pain,Body_discoloration,Cough,Fever,...,runny_nose,Chest_pain,Decreased_appetite,Vomit,Nausea,Sneezing,Shortness_of_breath,Loss_of_smell,Loss_of_taste,urticaria
0,1,19,yes,yes,yes,yes,yes,no,no,no,...,no,no,no,no,no,no,no,no,no,no
1,2,28,yes,yes,no,no,yes,no,yes,no,...,no,no,no,no,no,no,no,no,no,no
2,3,40,no,yes,no,no,yes,yes,yes,no,...,no,no,no,no,no,no,no,no,no,no
3,4,62,yes,yes,yes,yes,yes,no,yes,no,...,no,no,no,no,no,no,no,no,no,no
4,5,23,yes,yes,no,no,yes,no,no,no,...,no,no,no,no,no,no,no,no,no,no

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 487 entries, 0 to 486
Data columns (total 23 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   #                    487 non-null    int64
 1   age                  487 non-null    object
 2   Sleep_problems       487 non-null    object
 3   Headache             487 non-null    object
 4   Diarrhea             487 non-null    object
 5   Abdominal_pain       487 non-null    object
 6   body_pain            487 non-null    object
 7   Body_discoloration   487 non-null    object
 8   Cough                487 non-null    object
 9   Fever                487 non-null    object
 10  Ague                 487 non-null    object
 11  Sore_throat          487 non-null    object
 12  Fatigue              487 non-null    object
 13  runny_nose           487 non-null    object
 14  Chest_pain           487 non-null    object
 15  Decreased_appetite   487 non-null    object
 16  Vomit                487 non-null    object
 17  Nausea               487 non-null    object
 18  Sneezing             487 non-null    object
 19  Shortness_of_breath  487 non-null    object
 20  Loss_of_smell        487 non-null    object
 21  Loss_of_taste        487 non-null    object
 22  urticaria            487 non-null    object
dtypes: int64(1), object(22)
memory usage: 87.6+ KB

In [11]:
df.describe()

                #
count  487.000000
mean   244.000000
std    140.729054
min      1.000000
25%    122.500000
50%    244.000000
75%    365.500000
max    487.000000

In [13]:
df.isnull().sum()

#                      0
age                    0
Sleep_problems         0
Headache               0
Diarrhea               0
Abdominal_pain         0
body_pain              0
Body_discoloration     0
Cough                  0
Fever                  0
Ague                   0
Sore_throat            0
Fatigue                0
runny_nose             0
Chest_pain             0
Decreased_appetite     0
Vomit                  0
Nausea                 0
Sneezing               0
Shortness_of_breath    0
Loss_of_smell          0
Loss_of_taste          0
urticaria              0
dtype: int64

In [14]:
df.duplicated().sum()

np.int64(0)

In [17]:
df.columns

Index(['#', 'age', 'Sleep_problems', 'Headache', 'Diarrhea', 'Abdominal_pain',
       'body_pain', 'Body_discoloration', 'Cough', 'Fever', 'Ague',
       'Sore_throat', 'Fatigue', 'runny_nose', 'Chest_pain',
       'Decreased_appetite', 'Vomit', 'Nausea', 'Sneezing',
       'Shortness_of_breath', 'Loss_of_smell', 'Loss_of_taste', 'urticaria'],
      dtype='object')

In [20]:
df.columns.value_counts().sum()

np.int64(23)